/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;1,200;1,300&family=Oswald:wght@200&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');  


  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  body {

    background-color: #000;
  }


  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .nav-item{
    padding: 15px;
  }

  .nav-link{
    text-align: center;
    font-size: 20px;
    font-family: Exo, sans-serif;
    font-weight:400;
    color: white;
    margin: 4px;
  }

  .nav-link:hover {
    background-color: #159765;
  }
@media screen and (max-width: 950px){ 
    .nav-item {
        padding: 0px;
    }
  }

